body {
    font-family: Helvetica;
    color: seashell;
    background-color: black;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

nav {
    position: fixed;
    font-size: 22px;
    top: 0;
    left: 0;
    border-bottom: 1px solid seashell;
    height: 69px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 20;
}

#main_logo {
    height: 50px;
    margin-left: 10px;
}



.navItems li {
    display: inline-block; /* Changed to inline-block so margins/transitions work better */
    text-decoration: underline;
    color: white;
    margin: 0px 10px;
    font-size: 20px;
    transition: all 1s ease; 
}

.navItems li:hover {
    cursor: pointer;
    font-size: 25px;
    text-decoration: none;
    margin: 0px; 
}

.banner {
    position: relative;
    height: 700px;
    width: 1200px;
    margin: 70px auto 0px auto;
    background-image: url(./resorces/images/img-mission-background.jpg);
}

.banner h2,
.banner h4 {
    position: relative;
    margin:auto;
    padding: 10px 0;
    text-align: center;
    top: 50%;
    bottom: 50%;
    background-color: rgba(0, 0, 0, 0.9);
}

#popular {
    width: 1000px;
    margin: 0 auto 0 auto;
}

#popular h2,
#popular h4 {
    text-align: center;
}

.popularlist {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto 0 auto;
    list-style-type: none;
    gap: 30px;
}

.popularlist img {
    height: 200px;
    width: 300px;
}

.popularlist p {
    text-align: center;
    margin: 10px auto 0 auto;
    font-weight: bold;
}

.popularlist li {
    display: block;
}

#location {
    position: relative;
    height: 600px;
    width: 1200px;
    margin: 70px auto 0px auto;
    background-image: url(./resorces/images/img-locations-background.jpg);
}

#Heading {
    position: absolute;
    background-color: transparent;
    text-align: center;
    margin: 40px auto 0 auto;
    left: 50%;
    right: 50%;
    top: 20px;
}

.locbox {
    background-color: transparent;
    position: relative;
    display: flex;
    height: 600px;
    width: 1200px;
    gap: 40px;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

.locbox li {
    height: 300px;
    width: 300px;
    opacity: 1;
    text-align: center;
    line-height: 2.5;
    font-size: larger;
    background-color: rgba(0, 0, 0, 0.7);
}

h3 {
    text-align: center;
}

#contact {
    height: 200px;
    width: 1200px;
    text-align: center;
    margin: 5px auto 0 auto;
    font-weight: 800;
}

#contact h5 {
    padding-top: 10px;
}

footer {
    margin-left: 10px;
}

